svg {
    background-color: rgb(252, 252, 252);
    border: 5px solid black;
    border-radius: 5px;
}
.gitterlinie {
    stroke: lightgray;
    stroke-width: 10;
}
table {
    border-collapse: collapse;
    margin-bottom: 20px;
}
th,
td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    .eingabe {
        color: black;
        border: none;
        text-align: center;
    }
}
.punkt {
    fill: red;
}
.achsen {
    stroke: black;
    stroke-width: 10;
}
.textfeldx {
    stroke: black;
    font-size: 100%;
}
.textfeldy {
    stroke: black;
    font-size: 100%;
}
.beschriftung {
    stroke: black;
    font-size: 100%;
}
.eingabe {
    width: 50px;
    height: 20px;
}
.button {
    margin: 20px;
    float: right;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
.Kurve {
    stroke: red;
}