#svg {
    background-color: antiquewhite;
}

line {
    stroke: black;
    stroke-width: 2;
}

text {
    font-size: 2em;
    fill: black;
    text-anchor: middle;
    padding:1em;
    cursor: pointer;
}
input[type="number"]{
    min-width: 10em;
}
rect.used{
    fill:blue;
    stroke-width: 1;
    stroke: black;
}
rect{
    fill: white;
    stroke-width: 1;
    stroke: black;
}